<link rel="stylesheet" href="startbootstrap-modern-business-1.0.5/css/bootstrap.css">
<script src="startbootstrap-modern-business-1.0.5/js/bootstrap.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Change</title>
</head>
<body>
<form action="/change" method="post">
  <label>
    Id
    <input type="text" name="id">
  </label><br>


  <label>
    Имя
    <input type="text" name="name">
  </label><br>
  <label>
    Фамилия
    <input type="text" name="secondname">
  </label><br>
  <label>
    Отчество
    <input type="text" name="lastname">
  </label><br>
  <label>
    Пол
    <input type="text" name="sex">
  </label><br>
  <label>
    Дата рождения
    <input type="text" name="dateofbirth">
  </label><br>
  <label>
    Должность
    <input type="text" name="Work">
  </label><br>
  <label>
    Номер телефона
    <input type="text" name="number">
  </label><br>
  <button type="submit" >Изменить</button>
</form>
<a href="/index"> Добавить работника(Вернуться на главную)</a><br><br>
<a href="/delete"> Удалить работника </a><br>
<a href="/Employee"> Список работников </a><br>
</body>
</html>