<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div class = "main">
    <form action="/index" method="post">
        <label>
            Имя
            <input type="text" name="name">
        </label><br>
        <label>
            Фамилия
            <input type="text" name="secondname">
        </label><br>
        <label>
            Отчество
            <input type="text" name="lastname">
        </label><br>
        <label>
            Пол
            <input type="text" name="sex">
        </label><br>
        <label>
            Дата рождения
            <input type="text" name="dateofbirth">
        </label><br>
        <label>
            Должность
            <input type="text" name="Work">
        </label><br>
        <label>
            Номер телефона
            <input type="text" name="number">
        </label><br>
        <button type="submit" >Отправить</button>


    </form>

</div>

<a href="/delete"> Delete User </a><br>
<a href="/change"> Change User </a><br>
<a href="/Employee"> Список работников</a>
</body>
</html>